---
import { translations } from "../../locales.js";
const lang = Astro.props?.lang ?? "es";
const t = translations[lang] ?? translations["es"];
const headerTitle = Astro.props.headerTitle ?? "";
const headerUrl = Astro.props.headerUrl ?? "";
const id = Astro.props.id ?? "";
import { Image } from "astro:assets";
---

<header
  id={id}
  class="relative bg-image-header h-96 lg:w-screen "
>
  <div class="absolute top-0 w-full h-full z-0">
    <img
      src={`/img/maquetado/${headerUrl}`}
      alt="Fondo del header del blog"
      class="bg-header absolute z-0 w-full h-full object-cover"
      loading="eager"
    />
    <div class="absolute w-full h-full bg-gradient-header z-1"></div>
  </div>
  <div class="absolute w-full h-full z-1 flex items-center justify-center">
    <h1 class="text-white text-5xl md:text-8xl font-bebas font-bold uppercase">{headerTitle}</h1>
  </div>
</header>
