.form-control {
    font-size: 10px;
}

.button-sub {
    font-size: 10px;
}

.social-link {
    display: inline-block;
    transition: transform 0.3s ease;
}

.social-icon-path {
    fill: #54c0e8;
    transition: fill 0.3s ease;
}

.social-link:hover {
    transform: scale(1.15);
}

.social-link:hover .social-icon-path {
    fill: #fff;
}