
body{
  background-color: var(--redSocial-color);
  
}
.wave-cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  z-index: 2;
  transition: width 1.5s ease-in-out;
}
.wave-cover.shrink {
  width: 0;
}

.wave-cover-port {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  top: 0;
  right: 0;
  transition: width 1.5s ease-in-out;
}
.wave-cover-port.shrink {
  width: 0%;
}
.wave-cover-discover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  top: 0;
  left: 0;
  transition: width 1.5s ease-in-out;
}
.wave-cover-discover.shrink {
  width: 0%;
}
.chica,
.chica-port,
.platanito-trip,
.cocktel-trip,
.ave {
  opacity: 0;
  transition: transform 1.5s ease-out, opacity 1s ease-out;
  will-change: transform, opacity;
}

.chica,
.chica-port, .platanito-trip {
  transform: translateX(-150%);
}

.ave, .cocktel-trip {
  transform: translateX(150%);
}

.chica.animate-in,
.chica-port.animate-in,
.platanito-trip.animate-in,
.cocktel-trip.animate-in,
.ave.animate-in {
  transform: translateX(0);
  opacity: 1;
}
.custom-nav {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  padding: 0.5rem;
}

.swiper-button-prev.custom-nav {
  left: 5%;
  color: white;
}

.swiper-button-next.custom-nav {
  right: 5%;
  color: white;
}
.trip-container .swiper-button-prev.custom-nav {
  left: 8%;
  color: white;
}

.trip-container .swiper-button-next.custom-nav {
  right: 8%;
  color: white;
}
.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.5) !important;
  border: 2px solid white !important;
  width: 1rem !important;
  height: 1rem !important;
  border-radius: 9999px !important;
  opacity: 0.8 !important;
  transition: opacity 0.3s, transform 0.3s;
}

.swiper-pagination-bullet-active {
  background-color: var() !important;
  opacity: 1 !important;
  transform: scale(1.2);
}
.trip-container .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.5) !important;
  border: 2px solid var(--primary-color) !important;
}

.trip-container .swiper-pagination-bullet-active {
  background-color: var(--primary-color) !important;
}
.logo-trip-container {
  margin-top: 0rem !important;
  margin-bottom: 1rem !important;
}
@media screen and (max-width: 768px) {
  .swiper-pagination-bullet {
    width: 1rem !important;
    height: 1rem !important;
    padding: 0.25rem;
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px) !important;
  }
  .swiper-button-prev.custom-nav {
    display: none;
  }

  .swiper-button-next.custom-nav {
    display: none;
  }
  #port-experience-welcome .wave-cover {
  position: absolute;
  top: 85%;
  left: 0;
  height: 20%;
  width: 100%;
  background-color: #ffffff;
  z-index: 2;
  transition: width 1.5s ease-in-out;
}
#port-experience-welcome .wave-cover.shrink {
  width: 0;
}
}
@media screen and (min-width: 1025px) {
  .logo-trip-container {
    margin-top: 4rem !important;
    margin-bottom: 2rem !important;
  }
}
.trip-container .swiper-button-prev.custom-nav {
  color: var(--primary-color) !important;
}

.trip-container .swiper-button-next.custom-nav {
  color: var(--primary-color) !important;
}

.trip-container .swiper-slide {
  display: flex !important;
}
.trip-container .swiper-pagination{
width: 100% !important;
}

@media screen and (min-width: 1025px) {
  .trip-container .swiper-slide {
    transition: transform 0.3s ease;
  }

  .trip-container .swiper-slide-active .slide-content {
    transform: scale(1.1) translateY(-4rem);
  }
  
}
