.wave-cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff; /* bg-slate-300 */
  z-index: 2;
  transition: width 1.5s ease-in-out;
}
.wave-cover.shrink {
  width: 0;
  
}
.wave-cover-port{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  top: 0;
  right: 0;
  transition: width 1.5s ease-in-out;
}
.wave-cover-port.shrink {
  width: 0%;
}
.chica,
.ave {
  opacity: 0;
  transition: transform 1.5s ease-out, opacity 1s ease-out;
  will-change: transform, opacity;
}

.chica {
  transform: translateX(-150%);
}

.ave {
  transform: translateX(150%);
}

.chica.animate-in,
.ave.animate-in {
  transform: translateX(0);
  opacity: 1;
}

.custom-nav {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  padding: 0.5rem;
}

.swiper-button-prev.custom-nav {
  left: 5%;
  color: white;
}

.swiper-button-next.custom-nav {
  right: 5%;
  color: white;
}
.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.5) !important;
  border: 2px solid white !important;
  width: 1rem !important;
  height: 1rem !important;
  border-radius: 9999px !important;
  opacity: 0.8 !important;
  transition: opacity 0.3s, transform 0.3s;
  
}

.swiper-pagination-bullet-active {
  background-color: white !important;
  opacity: 1 !important;
  transform: scale(1.2);
}
@media screen and (max-width: 768px) {
  .swiper-pagination-bullet {
    width: 0.8rem !important;
    height: 0.8rem !important;
    padding: 0.25rem;
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px) !important;
;
  }
  .swiper-button-prev.custom-nav {
    display: none;
  }

  .swiper-button-next.custom-nav {
    display: none;
  }
}
