@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #006ab7;
  --secondary-color: #54c8e0;
  --redSocial-color: #f2f2f2;
}
@font-face {
  font-family: 'bebas-neue';
  src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@layer utilities {
  .underline-grow {
    position: relative;
  }

  .underline-grow::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Ajusta según la distancia del subrayado */
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
  }

  .underline-grow:hover::after {
    width: 100%;
  }
}

.menu_element {
  margin-left: 0.75rem /* 12px */;
  margin-right: 0.75rem /* 12px */;
  text-transform: uppercase;
  font-family: "bebas-neue", sans-serif;
  font-size: 1.5rem;
  /* font-family: "lindsey-signature", sans-serif; */
}
.menu_element:hover {
  font-weight: 600;
  
  
}
.bg-image-header{
    background-image: url('/img/home/recursos/bg_header.webp');
    background-size: cover;
    background-position: center;
    
}
.bg-gradient-header{
    background: var(--primary-color);
    background: linear-gradient(90deg, var(--primary-color) 15%, rgba(255, 255, 255, 0) 60%);
}
.search_input{
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease;
}
.search_input::placeholder{
    color: #ffffff;
    opacity: 1;
}
.search_input:focus-visible{
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    outline: none;
}
.search_input {
  background-image: url('img/iconos/lupa.svg');
  background-repeat: no-repeat;
}