@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #006ab7;
  --secondary-color: #54c0e8;
  --redSocial-color: #f2f2f2;
  --darkblue-color: #003a5d;
}
@font-face {
  font-family: 'bebas';
  src: url('../fonts/BebasNeue-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'bebas-bold';
  src: url('../fonts/BebasNeue-Bold.otf') format('truetype');
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'lato-bold';
  src: url('../fonts/Lato-Bold.ttf') format('truetype');
}
body{
  overflow-x: hidden;
  font-family: 'lato', sans-serif;
}
@layer utilities {
  .underline-grow {
    position: relative;
  }

  .underline-grow::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
  }

  .underline-grow:hover::after {
    width: 100%;
  }
}

.bg-gradient-header{
    background: var(--primary-color);
    background: linear-gradient(90deg, var(--primary-color) 15%, rgba(255, 255, 255, 0) 60%);
}
.bg-image-header-404{
    background-image: url('/img/home/recursos/bg_404.webp');
    background-size: cover;
    background-position: center;
    
}
.bg-gradient-header-404{
    background: rgba(0, 0, 0, 0.3);
}

.title_container h1, h2{
  font-size: 4rem;
}
.headerSubtitle{
    margin-top: -2rem;
  }
/* @media screen and (max-width: 768px) {
  #header-container{
    position: relative;
  }
} */
@media screen and (min-width: 1025px) {
  .title_container h1, h2{
    font-size: 6rem;
  }
  .headerSubtitle{
    margin-top: -3rem;
  }
}
@media screen and (min-width: 1600px) {
  .title_container h1, h2{
    font-size: 9rem;
  }
  
}