.bg-gradient-item {
    background-image: linear-gradient(0deg, var(--primary-color) 5%, rgba(255, 255, 255, 0) 70%);
    background-color: rgba(0, 106, 183, 0);
    transition: background-color 0.3s ease-out;
}

@media (min-width: 768px) {
    .group:hover .bg-gradient-item {
        background-color: rgba(0, 106, 183, 0.6);
    }
}

/* .item-background{
    background-image: url("../img/port-experience/fruteria.webp");
    background-position: center;
    background-size: contain;
} */
body {
    background-color: #f2f2f2;
}