---
import { translations } from "../../locales.js";
const lang = Astro.props?.lang ?? "es";
const t = translations[lang] ?? translations["es"];
import { Image } from "astro:assets";

import "aos/dist/aos.css";
import SwiperClient from "../../components/js/SwiperClientTrip";
---

<div
  class="trip-container w-screen h-[34rem] flex items-start justify-center relative overflow-hidden bg-[var(--redSocial-color)]"
>
  <div class="swiper-container h-full"></div>
  <SwiperClient client:only="react" />
</div>
