---

const logo = Astro.props?.logo ?? "es";
const content = Astro.props?.content ?? "es";
import { Image } from "astro:assets";
import "aos/dist/aos.css";
import olas from "../../assets/img/iconos/port-experience/ola.png";

import "../../assets/css/home.css";
---

<div 
  id="port-experience-welcome-single"
  class="welcome-container w-screen h-auto md:h-[36rem] flex flex-col md:flex-row justify-center relative overflow-hidden bg-white z-0"
>

  <div
    class="logo-container w-full px-5 md:px-0 mx-auto md:mx-0 content-center mb-10 md:mb-0 lg:w-2/3   flex flex-col "
  >
   <img
      class="h-[12rem] max-w-[16rem] md:h-[14rem] md:max-w-[24rem] object-scale-down self-center mb-8 md:mb-4"
      src={logo}
      alt="logo"
      loading="eager"
    />
    <div set:html={content} class="text-xl md:text-2xl text-justify md:text-center" />
  </div>
  
  <div
    class="wave-container w-full h-[24%] bottom-5 right-0 bg-transparent md:absolute z-1 overflow-hidden"
  >
    <Image
      class="wave w-[100%] h-[100%] right-0 top-0 object-fill"
      src={olas}
      alt="logo"
      loading="eager"
    />
    <div class="wave-cover"></div>
  </div>
  
</div>
