---
import { translations } from "../../locales.js";
const lang = Astro.props?.lang ?? "es";
const t = translations[lang] ?? translations["es"];
import PreguntasYRespuestas from "../../components/js/Faqslanding.jsx";
---

<div class="faqs h-auto relative bg-[var(--redSocial-color)] md:grid md:grid-cols-2 md:gap-6 lg:px-[5%] xl:px-[10%] w-screen ">
  <div class=" hidden h-fit justify-start md:flex md:col-span-1 md:w-[90%]">
    <img class="lg:w-3/4 xl:w-1/2" src="/img/maquetado/header-faqs-mobile.png" alt="fondo FAWS">
  </div>
  <div
    class="faqs-container md:col-span-1 w-full h-auto flex flex-col items-center justify-start bg-[transparent] "
  >
    <div class="title-container w-full text-center items-center flex flex-col z-15 pt-8">
      <h2
        class="title md:block text-6xl md:text-8xl font-bebasBold text-[var(--primary-color)]"
      >
        {t.homeFaqs.title}
      </h2>
      <p
        class="subtitle text-3xl md:text-4xl font-bebas uppercase text-[var(--secondary-color)] mb-6 md:mb-12 px-5"
      >
        {t.homeFaqs.subtitle}
      </p>
      <PreguntasYRespuestas client:only="react" t={t} full="true/" />
    </div>
  </div>
</div>
<script>
  function toggleRespuesta(idRespuesta) {
    const respuestas = document.querySelectorAll(".respuesta");
    const preguntas = document.querySelectorAll(".pregunta");

    respuestas.forEach((respuesta) => {
      if (respuesta.id === idRespuesta) {
        const isHidden = respuesta.classList.contains("hidden");
        respuestas.forEach((r) => r.classList.add("hidden")); // Oculta todas las respuestas
        preguntas.forEach((p) => {
          p.querySelector(".mas-icon")?.classList.remove("hidden");
          p.querySelector(".menos-icon")?.classList.add("hidden");
        });

        if (isHidden) {
          respuesta.classList.remove("hidden");

          const preguntaId = "pregunta" + idRespuesta.replace("respuesta", "");
          const pregunta = document.getElementById(preguntaId);
          if (pregunta) {
            pregunta.querySelector(".mas-icon")?.classList.add("hidden");
            pregunta.querySelector(".menos-icon")?.classList.remove("hidden");
          }
        }
      } else {
        respuesta.classList.add("hidden");
      }
    });
  }

  // Oculta todas las respuestas al inicio
  window.addEventListener("DOMContentLoaded", () => {
    document
      .querySelectorAll(".respuesta")
      .forEach((r) => r.classList.add("hidden"));
  });
</script>
