---
import { translations } from "../../locales.js";
const lang = Astro.props?.lang ?? "es";
const t = translations[lang] ?? translations["es"];
import footerVideo from "../../assets/video/fondo-footer.mp4";
---

<footer class="relative">
    <div class="bg-redSocial-color w-full h-60">

    </div>
    <video 
  src={footerVideo}
  class="w-full h-auto block"
  autoplay 
  muted 
  loop 
  playsinline
></video>
</footer>
  
