---
import Header from "../components/Header.astro";

const lang = Astro.props.lang;
---
<!doctype html>
<html lang={lang}>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="generator" content={Astro.generator} />
	<link rel="stylesheet" href="css/main.css" />
	<title>Port Roatan</title>
</head>
<body>
	<Header lang={lang} />
	<slot />
</body>
</html>
