---
import Header from "../components/Header/Header.astro";

const lang = Astro.props?.lang ?? "es";
const menu = Astro.props?.menu ?? [];
---

<!doctype html>
<html lang={lang}>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="generator" content={Astro.generator} />
	<link rel="stylesheet" href="/src/assets/css/main.css" />
	<link rel="stylesheet" href="https://use.typekit.net/swf1vlo.css">
	<title>Port Roatan</title>
</head>
<body>
	<Header lang={lang} menu={menu} />
	<slot />
</body>
</html>
